<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name = "Hostaway Demo">

    <test name = "Filter form Tests">
        <classes>
            <class name = "tests.SearchTests"/>
        </classes>
    </test>

    <test name =" All Listings Page Tests">
        <classes>
            <class name = "tests.AllListingsTests"/>
        </classes>
    </test>

</suite>